.feedback-buttons {
  display: flex;
  padding: 10px;
  gap: 10px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-bottom-right-radius: 10px;
}

.like-button,
.comment-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 3px;
  transition: all 0.5s ease;
  opacity: 0.7;

  span {
    font-size: 0.7rem;
    font-weight: 600;
  }
}

.like-button:hover,
.comment-button:hover {
  opacity: 1;
  scale: 1.05;
}
